<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Empresa de Festas</title>
</head>
<body>

	<div th:replace="~{menu :: menu}" ></div>
	<div class="container">
	<h1>Utilize o formulário abaixo para solicitar o seu orçamento.</h1>
	<form action="/orcamentos" method="post">

		<div>
			<label>NOME DO CONTRATANTE</label> <input type="text" name="nomedocliente"  th:value="${orcamento.nomedocliente}">
		</div>
		<div>
			<label>E-MAIL</label> <input type="text" name="email" th:value="${orcamento.email}">
		</div>
		<div>
			<label>EVENTO</label> <input type="text" name="tipodeevento" th:value="${orcamento.tipodeevento}">
		</div>
		<div>
			<label>ESPAÇO</label> <input type="text" name="espaco" th:value="${orcamento.espaco}">
		</div>
		<div>
			<label>DATA</label> <input type="text" name="data" th:value="${orcamento.data}">
		</div>
		<div>
			<label>HORÁRIO</label> <input type="text" name="horario" th:value="${orcamento.horario}">
		</div>
		<div>
			<label>CIDADE</label> <input type="text" name="cidade" th:value="${orcamento.cidade}">
		</div>
		<div>
			<label>OBSERVAÇÕES</label> <input type="text" name="observacoes" th:value="${orcamento.observacoes}">
		</div>
		
		</form>
		
		<div class="progress">
      		<div class="indeterminate"></div>
  		</div>
		
			<button class="waves-effect waves-light btn" type="submit">Confirmar</button>
			<button class="waves-effect waves-light btn" type="reset">Cancelar</button>
		</div>
		
</body>
</html>