<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Empresa de Festas</title>
</head>

<body>

	<div th:replace="~{menu :: menu}" ></div>
	<div class="container">
	<h1>Cronograma dos Serviços que já foram cadastrados.</h1>
	
	<table class="centered">
	<thead>
		<tr>
			<th>ID</th>
			<th>TIPO DE SERVIÇO</th>
			<th>DESCRIÇÃO</th>
			<th>VALOR</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="servico : ${servicos}">
			<td th:text="${servico.id}">1</td>
			<td><a th:href="@{/servicos/{id}(id=${servico.id})}"><span th:text="${servico.servico}">Jullyana</span></a></td>
			<td th:text="${servico.descricao}">jullyanakaroline@gmail.com</td>
			<td th:text="${servico.valor}">Colação de Grau</td>
			
			<td>
				<a th:href="@{/servicos/{id}/remover(id=${servico.id})}"><i class="material-icons">done_all</i></a>
			</td>
		</tr>
	</tbody>
	
	</table>
	</div>
	
</body>
</html>