<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Empresa de Festas</title>
</head>

<body>

	<div th:replace="~{menu :: menu}" ></div>
	<div class="container">
	<h1>Cronograma dos Eventos que já foram cadastrados.</h1>
	
	<table class="centered">
	<thead>
		<tr>
			<th>ID</th>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th>EVENTO</th>
			<th>ESPAÇO</th>
			<th>DATA</th>
			<th>HORÁRIO</th>
			<th>CIDADE</th>
			<th>OBSERVAÇÕES</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="orcamento : ${orcamentos}">
			<td th:text="${orcamento.id}">1</td>
			<td><a th:href="@{/orcamentos/{id}(id=${orcamento.id})}"><span th:text="${orcamento.nomedocliente}">Jullyana</span></a></td>
			<td th:text="${orcamento.email}">jullyanakaroline@gmail.com</td>
			<td th:text="${orcamento.tipodeevento}">Colação de Grau</td>
			<td th:text="${orcamento.espaco}">IFRN - Campus Lajes</td>
			<td th:text="${orcamento.data}">02/02/2023</td>
			<td th:text="${orcamento.horario}">18h</td>
			<td th:text="${orcamento.cidade}">Lajes</td>
			<td th:text="${orcamento.observacoes}">observações</td>
			
			<td>
				<a th:href="@{/orcamentos/{id}/selecionar(id=${orcamento.id})}"><i class="material-icons">queue</i></a>
				<a th:href="@{/orcamentos/{id}/remover(id=${orcamento.id})}"><i class="material-icons">done_all</i></a>
			</td>
		</tr>
	</tbody>
	
	</table>
	</div>
	
</body>
</html>