<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Empresa de Festas</title>
	</head>
	
	<body>

		<div th:replace="~{menu :: menu}" ></div>
		<div class="container">
		<h1>Dados protocolados!</h1>
		
		 <div class="col s12 m6">
      		 <div class="card blue-grey darken-1">
        		<div class="card-content white-text">
          			<span class="card-title"><strong>Serviço cadastrado!</strong></span>
				</div>
			</div>
		</div>
		
 		 <div class="progress">
      		<div class="indeterminate"></div>
  		</div>
		
		</div>
	</body>

</html>