<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Empresa de Festas</title>
</head>
<body>
	<h1>Adicionar Festa</h1>

	<form action="/empresas" method="post">

		<div>
			<label>Evento:</label> <input type="text" name="evento">
		</div>
		<div>
			<label>Espaço:</label> <input type="text" name="espaço">
		</div>
		<div>
			<label>Data:</label> <input type="text" name="data">
		</div>
		<div>
			<label>Horário:</label> <input type="text" name="horario">
		</div>

		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>

	</form>
</body>
</html>