<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Projeto Final - PI</title>
	</head>

	<body>

	
	<div th:replace="~{menu :: menu}" ></div>
	<div class="container">
	<h1>Serviços essenciais para sua festa ser perfeita! Faça um orçamento conosco.</h1>
	
	<div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://www.organizandoeventos.com.br/artigos/ed/191127201821-8384.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Festa Formatura Medicina - 2020<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
    </div>
  </div>
  
	<div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://i.pinimg.com/originals/94/10/cb/9410cbbf204bffb8465405dfa1d7f432.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Festa Infantil - Mundo dos Doces<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">      
    </div>
  </div>
	
	   		<ul class="collection">
    		<li class="collection-item avatar">
      		<i class="material-icons circle green accent-2">local_bar</i>
      		<span class="title"><strong>Serviços de Bartender</strong></span>
      		<p>Bar de Caipirinhas; Coquetéis Clássicos; Drinks sem Álcool.</p>
      		<a href="/orcamentos/form" class="secondary-content"><i class="material-icons">menu</i></a>
    		</li>
    		
    		<li class="collection-item avatar">
      		<i class="material-icons circle green accent-3">local_dining</i>
      		<span class="title"><strong>Serviços de Buffet</strong></span>
      		<p>Entradinha; Pesticos; Coquetel; Jantar. </p>
      		<a href="/orcamentos/form" class="secondary-content"><i class="material-icons">menu</i></a>
    		</li>
    			
    		<li class="collection-item avatar">
      		<i class="material-icons circle green accent-2">music_video</i>
      		<span class="title"><strong>Serviços para Contratação de Bandas</strong></span>
      		<p>Música Ao Vivo, DJ, Voz e Violão.</p>
      		<a href="/orcamentos/form" class="secondary-content"><i class="material-icons">menu</i></a>
    		</li>
    		
    		<li class="collection-item avatar">
      		<i class="material-icons circle green accent-3">camera</i>
      		<span class="title"><strong>Serviços Fotográficos</strong></span>
      		<p>Equipe de Fotográfos Experientes</p>
      		<a href="/orcamentos/form" class="secondary-content"><i class="material-icons">menu</i></a>
    		</li>
    		
    		<li class="collection-item avatar">
      		<i class="material-icons circle green accent-2">business</i>
      		<span class="title"><strong>Serviços de Decoração</strong></span>
      		<p>Decoração completa: lounge para fotos, ilha de puffs, lutres, estofados e arranjos.</p>
      		<a href="/orcamentos/form" class="secondary-content"><i class="material-icons">menu</i></a>
    		</li>
    		
  			</ul>
  
	</div>
	
	
	

	</body>

</html>