<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Empresa de Festas</title>
</head>
<body>
	<nav th:fragment="menu">
		<div class="nav-wrapper container">
      		<a href="/" class="brand-logo">Sistema - Empresa de Festas</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li><a href="/">Home</a></li>
        		<li><a href="/empresas/form">Cadastrar Eventos</a></li>
        		<li><a href="">Contratante</a></li>
      		</ul>
		</div>
	</nav>
</body>
</html>